body {
    scrollbar-face-color: #E0E0E0;
    scrollbar-arrow-color: #000000;
    scrollbar-track-color: #E0E0E0;
    scrollbar-shadow-color: #808080;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #E0E0E0;
    scrollbar-darkshadow-Color: #000000;
}

a.ImLink:link {
    color: #0000FF;
    text-decoration: underline;
}

a.ImLink:visited {
    color: #C000C0;
    text-decoration: underline;
}

a.ImLink:hover {
    color: #0000FF;
    text-decoration: underline;
}

#imTitle {
    font: bold 14pt Arial;
    color: #000000;
    ;
    margin-bottom: 5px
}

.mainMenu {
    position: relative;
    cursor: pointer;
    width: 100px;
    padding: 3px;
    background-color: ;
    font: 8pt Arial;
    color: #FFFFFF;
    text-align: center;
}

.footer, a.footer:hover, a.footer:visited, a.footer:link {
    font: 8pt Arial;
    text-decoration: none;
    color: #FFFFFF;
}

#imToolTip {
    position: absolute;
    visibility: hide;
    z-index: 200
}